* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

html,
body {
	font-family: "DM Mono", Courier, monospace;
	font-weight: 400;
	color: #0b0326;
	background-color: #f2f2f2;
	scroll-behavior: smooth;
}
main {
	margin-top: 100px;
}
h1 {
	color: white;
	font-family: "DM Mono", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16vw;
	line-height: 14vw;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 48px;
}

h2 {
	color: #0000ed;
	font-family: "DM Mono", Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 50px;
	line-height: 50px;
	padding: 48px;
}

h3 {
	font-family: "DM Mono", Courier, monospace;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding-bottom: 12px;
}

a {
	color: #0b0326;
}

p {
	font-size: 16px;
}
.uppercase {
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.link {
	font-weight: bold;
	color: #aaaaaa;
}
.link:hover {
	font-weight: bold;
	color: #0b0326;
}

.btn {
	padding: 12px 24px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	background-color: #ffb800;
	color: #0b0326;
	border-radius: 30px;
}
.btn:hover {
	background-color: #0000ed;
	color: #f2f2f2;
}
.blue {
	color: #d8d8d8;
	background-color: #0000ed;
}
.yellow {
	background-color: #ffb800;
}
.white {
	background-color: white;
}
/* NAV */
header {
	background-color: #f2f2f2;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 48px;
	height: 100px;
}
.nav-list {
	font-size: 16px;
	font-weight: normal;
}
.nav-list .list-item {
	display: inline-block;
	margin-left: 48px;
}
.nav-list .list-item a {
	color: #0000ed;
	transition-duration: 0.15s;
}
.nav-list .list-item a:hover {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.navbar img {
	height: 40px;
	transition-duration: 0.25s;
}
.navbar img:hover {
	height: 43px;
}
.nav-list .list-item.active a {
	text-decoration: underline;
	font-weight: bold;
}
#hamburger {
	display: none;
}

/* NAV END*/

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/-1;
	width: 100%;
}

.col-12 {
	grid-column: 1/-1;
}

.col-3 {
	grid-column: span 3;
}

.col-4 {
	grid-column: span 4;
}
.col-6 {
	grid-column: span 6;
}
.col-8 {
	grid-column: span 8;
}

.flex-align-ver {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.flex-align-hor {
	align-items: center;
}

.flex-align-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.max-width {
	max-width: 1500px;
	margin: 0 auto;
}

section {
	min-height: 100vh;
}

.hero {
	min-height: calc(100vh - 100px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 48px;
}

section#hero-homepage {
	background-image: url(Images/hero-homepage.jpg);
}
section#hero-program {
	background-image: url(Images/hero-program.jpg);
}
section#hero-museum {
	background-image: url(Images/hero-museum.jpg);
}
section#hero-info {
	background-image: url(Images/hero-info.jpg);
}

section#hero-homepage h1 {
	font-size: 11vw;
	line-height: 11vw;
}

section#program-main,
section#museum-main {
	padding-top: calc(100px + 48px);
}

.image-text {
	position: absolute;
	right: 48px;
	bottom: 48px;
	color: #dbdbdb;
	font-size: 10px;
	font-family: "DM Sans";
	font-style: italic;
}
.down-btn {
	position: absolute;
	left: 50%;
	padding-top: 100px;
	transform: translateX(-50%);
	bottom: 48px;
}
.down-btn img {
	height: 20px;
	transition-duration: 0.25s;
}
.down-btn img:hover {
	height: 23px;
}

section#top3 {
	padding: 24px;
	padding-top: calc(100px + 48px);
}

.top3-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
}
.top3-item img {
	border-radius: 100%;
	width: 100%;
	margin-bottom: 48px;
}

.top3-item p {
	font-family: "DM Sans";
	font-weight: 100;
	font-size: 12px;
	max-width: 250px;
	width: 100%;
}
.top3-item h3 {
	max-width: 250px;
	width: 100%;
}

.top3-cta {
	font-size: 20px;
	font-weight: 500;
	transition-duration: 0.25s;
	padding: 100px 0;
}

.top3-cta:hover {
	font-size: 22px;
}

section#break {
	min-height: 80vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.break-home {
	background-image: url(Images/break-img-milkink.jpg);
}
.break-info {
	background-image: url(Images/Info/break-img-cateye.jpg);
}
.break-text {
	color: #f2f2f2;
	font-size: 13vw;
	font-weight: normal;
	line-height: 13vw;
	padding: 140px 48px;
	justify-content: center;
}

.circle img.white-logo-icon {
	position: absolute;
	z-index: 1;
	width: 40vw;
	height: 40vh;
	object-fit: contain;
}

/* PROGRAM */
.program-elem {
	display: flex;
	flex-direction: row-reverse;
	padding: 24px;
	min-height: 50vh;
}
.program-elem-large {
	display: flex;
	padding: 24px;
}

.program-elem > div,
.program-elem-large > div {
	width: 50%;
}

.program-text,
.program-text-large {
	margin: auto;
	padding: 24px;
}
.program-elem h3 {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 3px;
	line-height: 30px;
}
.h3-large {
	font-size: 6vw;
	font-weight: 500;
	letter-spacing: 4px;
	line-height: 6vw;
}

.program-text p {
	font-family: "DM Sans";
	font-size: 13px;
	padding: 4px 0;
}
.program-info {
	padding-top: 12px;
}
.program-info-large {
	padding-top: 24px;
}
.program-info p {
	font-family: "DM Sans";
	font-weight: bold;
}
.program-elem-large p {
	font-family: "DM Sans";
	font-weight: normal;
	font-size: 18px;
	padding-top: 12px;
}

.program-img img {
	max-width: 100%;
	height: 100%;
	padding: 24px;
	object-fit: cover;
}

section#coming-up h2 {
	font-size: 6vw;
	font-weight: bold;
	line-height: 7vw;
	padding-top: 200px;
	max-width: 80vw;
}

/* MUSEUM */
.grid-elem-half {
	display: flex;
	flex-direction: row;
	min-height: 50vh;
}
.grid-elem-half.reverse {
	flex-direction: row-reverse;
}
.grid-elem-half > div {
	width: 50%;
}

.grid-text-half {
	padding: 24px;
}
.grid-text-half p {
	max-width: 70%;
	padding: 0 24px 24px;
}
.grid-text-half h3 {
	text-transform: none;
	font-weight: lighter;
	font-size: 30px;
	max-width: 70%;
	padding: 24px;
	margin-left: 0;
}
.grid-text-half h2 {
	padding: 24px;
}
.grid-text-half.intro p {
	font-size: 24px;
	padding: 24px;
}
.grid-elem-half .btn {
	margin: 0 24px;
}
.grid-img-half img {
	width: 100%;
	min-height: 50vh;
	height: 100%;
	object-fit: cover;
}
.circle img {
	border-radius: 1000px;
	object-fit: cover;
}

.grid-elem-third {
	grid-column: span 3;
}

.museum-break {
	background-image: url(Images/Museum/museum-break.jpg);
	min-height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.break-heading {
	color: white;
	font-weight: lighter;
	font-size: 50px;
	max-width: 500px;
}
.break-paragraph {
	color: white;
	font-weight: lighter;
	font-size: 20px;
	max-width: 500px;
}

.info-list p {
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 12px;
}

.newsletter {
	background-color: white;
	width: 100vw;
	padding: 200px;
}
.newsletter h3 {
	text-transform: none;
	font-size: 48px;
	max-width: 50vw;
	width: 100%;
	padding: 48px 0px;
	margin: auto;
}
.newsletter-elem {
	align-items: center;
	margin: auto;
}
input[type="text"] {
	width: 50vw;
	font-family: "DM Mono", Courier, monospace;
	padding: 12px 24px;
	font-size: 18px;
	margin: 8px 0px;
	display: inline-block;
	border: 3px solid #f2f2f2;
	box-sizing: border-box;
	border-radius: 50px;
}
input[type="submit"] {
	border: none;
	margin-top: 24px;
	width: 50vw;
	margin: auto;
}

/* FOOTER */
footer {
	background-color: #0000ed;
	max-height: 300px;
	align-items: center;
}
.footer-content {
	color: #dbdbdb;
	display: flex;
	justify-content: space-between;
	padding: 48px;
	align-items: center;
}
.footer-text {
	justify-content: space-between;
	display: flex;
	align-items: flex-start;
}
.footer-text p {
	font-size: 12px;
}
.footer-text div {
	margin-right: 48px;
}
.footer-icons {
	display: flex;
}
.footer-icons a {
	margin-left: 24px;
	width: 40px;
	height: 40px;
}
.footer-icons img {
	width: 30px;
	height: 30px;
	transition-duration: 0.25s;
}
.footer-icons a:hover > img {
	width: 40px;
	height: 40px;
}

@media only screen and (max-width: 1200px) {
	.col-6 {
		grid-column: span 12;
	}
}
@media only screen and (max-width: 900px) {
	h2 {
		padding: 32px;
	}

	#hamburger {
		display: block;
		position: absolute;
		right: 32px;
		width: 40px;
		height: 40px;
	}
	#hamburger::after {
		background-image: url(Images/icon-burger.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-color: #f2f2f2;
		position: absolute;
		content: "";
		width: 40px;
		height: 40px;
	}
	#hamburger:checked::after {
		background-image: url(Images/icon-cross.svg);
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
	}
	#hamburger:checked + .nav-list {
		display: block;
		width: 100%;
	}
	.nav-list .list-item {
		display: block;
		margin: 32px 0 0 auto;
		text-align: right;
		width: 100%;
	}
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		padding: 32px;
	}
	.nav-list {
		display: none;
	}

	.nav-list .list-item a {
		font-size: 24px;
	}
	.nav-list .list-item a:hover {
		font-size: 27px;
		font-weight: bold;
		letter-spacing: 0.5px;
	}
	.navbar img {
		height: 50px;
		transition-duration: 0.25s;
	}
	.navbar img:hover {
		height: 63px;
	}
	.hero {
		padding: 32px;
	}

	.break-text {
		padding: 140px 32px;
	}

	.grid-text-half {
		padding: 32px 16px;
	}
	.grid-text-half p {
		max-width: 90%;
		padding: 0 16px 16px;
		font-size: 12px;
	}
	.grid-text-half h3 {
		max-width: 90%;
		padding: 16px;
	}
	.grid-text-half h2 {
		padding: 16px;
	}
	.grid-text-half.intro p {
		padding: 16px;
		font-size: 16px;
	}
	.grid-elem-half .btn {
		margin: 0 16px;
	}

	h3 {
		padding: 14;
	}
	p.image-text {
		right: 32px;
		bottom: 32px;
		padding: 0;
		font-size: 8px;
	}
	section#top3 h2 {
		padding: 0;
		font-size: 40px;
	}
	/* FOOTER */
	footer {
		background-color: #0000ed;
		max-height: 700px;
	}
	.footer-content {
		color: #dbdbdb;
		padding: 32px;
	}
	.footer-text {
		flex-direction: column;
		justify-content: none;
	}
	.footer-text div {
		margin: 0 0 20px;
	}
	.footer-icons {
		flex-direction: column;
	}
	.footer-icons img {
		width: 40px;
		height: 40px;
	}
	.footer-icons a {
		margin: 0 0 20px;
		width: 50px;
		height: 50px;
	}
	.footer-icons a:hover > img {
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.col-4 {
		grid-column: span 12;
	}
	.col-6 {
		grid-column: span 12;
	}
	.top3-item {
		padding: 16px;
	}
	.top3-item img {
		max-width: 250px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}

	.grid-elem-half {
		flex-direction: column;
	}
	.grid-elem-half.reverse {
		flex-direction: column;
	}
	.grid-elem-half > div {
		width: 100%;
		min-height: 50vh;
	}
	.program-elem {
		flex-direction: column-reverse;
		padding: 16px;
		min-height: auto;
	}
	.program-elem-large {
		flex-direction: column-reverse;
		padding: 16px;
	}

	.program-elem > div,
	.program-elem-large > div {
		width: 100%;
	}

	.program-text,
	.program-text-large {
		padding: 16px;
	}

	.program-info-large {
		padding-top: 16px;
	}

	.program-img img {
		width: 100%;
		height: 50vw;
		padding: 16px 0;
	}
	.program-img {
		margin-bottom: 32px;
	}

	.top3-item h3 {
		max-width: 250px;
		width: 100%;
	}
	.newsletter {
		padding: 32px 32px 100px;
	}
	.newsletter-elem {
		max-width: 250px;
	}
	.newsletter h3 {
		font-size: 40px;
		max-width: 250px;
	}
	input[type="text"] {
		width: 250px;
	}
	input[type="submit"] {
		width: 250px;
	}
}

@media only screen and (max-width: 400px) {
	section#top3 h2 {
		padding: 0;
		font-size: 30px;
		line-height: 32px;
	}
	h1 {
		font-size: 30px;
		line-height: 30px;
	}
	.newsletter {
		padding: 32px 32px 100px;
	}
	.newsletter-elem {
		max-width: 250px;
	}
	.newsletter h3 {
		font-size: 40px;
		max-width: 250px;
	}
	input[type="text"] {
		width: 250px;
	}
	input[type="submit"] {
		width: 250px;
	}
}
